@font-face {
  font-family: "Bebas Neue";
  src: url(../Fonts/BebasNeue-Regular.otf);
}

/* line 17, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerHeader {
  display: grid;
  grid-template-areas: "logo navbar";
  grid-template-columns: 1fr 3fr;
  grid-template-rows: 110px;
  margin: 0 auto;
  width: 1100px;
}

/* line 26, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.logo {
  grid-area: logo;
}

/* line 29, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.logo .hotelStars {
  margin-top: 20px;
  display: inline-block;
  width: 125px;
}

/* line 35, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.logo h1:nth-child(n+1) {
  font-family: "Bebas Neue";
  color: #000000;
  font-size: 30px;
  letter-spacing: 2.04px;
  float: left;
  margin: 0;
}

/* line 45, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.logo .logoStars {
  margin-left: 90px;
  margin-top: 5px;
}

/* line 49, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.logo .logoStars img:nth-child(n+1) {
  margin-bottom: 0px;
}

/* line 53, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.logo .logoStars img:nth-child(n+2) {
  margin-top: -10px;
  margin-bottom: 15px;
  margin-left: -5px;
}

/* line 59, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.logo .logoStars img:nth-child(n+3) {
  margin-bottom: 0px;
}

/* line 64, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.logo h1:nth-child(n+2) {
  font-family: "Bebas Neue";
  height: 53px;
  color: #4e26fd;
  font-size: 41px;
  font-weight: 400;
  line-height: 32.11px;
  letter-spacing: 2.75px;
}

/* line 77, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.navbar {
  grid-area: navbar;
}

/* navbar-> */
/* line 83, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.navbar {
  margin-top: 40px;
  justify-self: end;
}

/* line 88, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.navbar ul li {
  list-style-type: none;
  display: inline-block;
  float: left;
}

/* line 94, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.navbar ul li a:hover {
  border-bottom: 1px solid black;
}

/* line 100, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.navbar ul li a {
  margin-left: 25px;
  text-decoration: none;
  color: #0f0f0f;
  font-family: "Bebas Neue";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1.12px;
}

/* line 114, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle1 {
  display: grid;
  grid-template-areas: "image1 image2" "image1 image3";
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 0px;
  margin: 0 auto;
  padding: 0;
  width: 100%;
  height: 690px;
}

/* line 125, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle1 .image1 {
  grid-area: image1;
}

/* line 128, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle1 .image1 img {
  object-fit: cover;
  height: calc(100% - 100px);
  width: 100%;
}

/* line 135, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle1 .image1 h2 {
  margin-left: 16%;
  color: #000000;
  font-family: "Bebas Neue";
  font-size: 55px;
  font-weight: 400;
  line-height: 88.51px;
  text-transform: uppercase;
  margin-top: 3px;
}

/* line 147, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle1 .image1 h1 {
  margin-left: 16%;
  margin-top: -100px;
  margin-bottom: 0px;
  color: #ffffff;
  font-size: 112px;
  font-family: "Bebas Neue";
  font-size: 70px;
  font-weight: 400;
  line-height: 88.51px;
  text-transform: uppercase;
}

/* line 162, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle1 .image2 {
  margin: 0;
  padding: 0;
}

/* line 166, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle1 .image2 img {
  object-fit: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 175, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle1 .image3 {
  margin: 0;
  padding: 0;
}

/* line 179, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle1 .image3 img {
  object-fit: cover;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* line 189, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.classBookNow {
  font-family: 'Open Sans', sans-serif;
  width: 1100px;
  background-color: #1c1c1c;
  border-bottom: 11px solid #4e26fd;
  padding: 30px;
  margin: 0 auto;
  margin-top: 50px;
}

/* line 198, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.classBookNow input[type="text"] {
  width: 190px;
  height: 49px;
  background-color: white;
  margin-right: 13px;
  padding-left: 17px;
  color: #000000;
  font-family: "Open Sans";
  font-size: 17px;
  font-weight: 400;
  letter-spacing: 1.02px;
}

/* line 213, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.classBookNow input[type="submit"] {
  padding-left: 0px;
  height: 55px;
  width: 167px;
  background-color: #4e26fd;
  vertical-align: bottom;
  color: #ffffff;
  font-family: "Bebas Neue";
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 1.2px;
  border: none;
}

/* line 232, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle2 {
  width: 1100px;
  height: 920px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 70px 1fr 1fr 70px;
  margin: 0 auto;
  margin-top: 100px;
}

/* line 243, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle2 section {
  display: grid;
}

/* line 244, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle2 section img {
  display: grid;
  width: 353px;
  height: 241px;
  object-fit: cover;
}

/* line 257, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle2 .art2head {
  grid-column: 1 / span 3;
  grid-row: 1;
}

/* line 261, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle2 .art2head h1 {
  margin: 0 auto;
  text-align: center;
  color: #000000;
  font-family: "Bebas Neue";
  font-size: 55px;
  font-weight: 400;
  letter-spacing: 3.3px;
}

/* line 273, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle2 .moreButton {
  margin: 0 auto;
  display: grid;
  grid-column: 1 / span 3;
  grid-row: 4;
  horiz-align: center;
  width: 173px;
  height: 52px;
  border: 2px solid #4e26fd;
}

/* line 285, ../../../../../Web/Git/HotelBooking/sass/style.scss */
.grid-containerArticle2 .moreButton h2 {
  line-height: 2.3;
  margin: 0;
  display: inline-block;
  color: #4e26fd;
  font-family: "Bebas Neue";
  font-size: 24px;
  font-weight: 400;
  letter-spacing: 1.44px;
  text-align: center;
}

/*# sourceMappingURL=style.css.map */